<ion-view view-title="Pets">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="vm.searchText">
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="pet in vm.pets | filter:vm.searchText" class="item-avatar" href="#/app/pet/{{pet._id}}">
        <img ng-src="{{pet.img}}">
        <h2>{{pet.name}}</h2>
        <label>Dono: </label>{{pet.owner.name}}
        <p>Última consulta:
          {{pet.lastAppointment | date:'dd/MM/yyyy'}}</p>
        <ion-option-button class="button-assertive" ng-click="vm.removePet(pet._id)">Remover</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
